

o/**
.gradle/
.idea/
local.properties

app/build.gradle

aps3e.keystore
aps3e.jks
app/release/
app/.cxx/
app/src/main/java/aenu/aps3e/R.java

app/src/main/cpp/ab/
app/src/main/cpp/ffmpeg_android/
app/src/main/cpp/iconv_out/
app/src/main/cpp/iso_t/
app/src/main/cpp/llvm_out/
app/src/main/cpp/ffmpeg_out/
app/src/main/cpp/glslang_out/

app/src/main/lib/
app/src/main/libs/

.vs/
app/src/main/cpp/rpcs3/3rdparty/FAudio/csharp/obj/
app/src/main/cpp/rpcs3/3rdparty/SoundTouch/soundtouch/source/csharp-example/obj/
app/src/main/cpp/rpcs3/3rdparty/wolfssl/wolfssl/wrapper/CSharp/wolfSSL-DTLS-PSK-Server/obj/
app/src/main/cpp/rpcs3/3rdparty/wolfssl/wolfssl/wrapper/CSharp/wolfSSL-DTLS-Server/obj/
app/src/main/cpp/rpcs3/3rdparty/wolfssl/wolfssl/wrapper/CSharp/wolfSSL-Example-IOCallbacks/obj/
app/src/main/cpp/rpcs3/3rdparty/wolfssl/wolfssl/wrapper/CSharp/wolfSSL-TLS-Client/obj/
app/src/main/cpp/rpcs3/3rdparty/wolfssl/wolfssl/wrapper/CSharp/wolfSSL-TLS-PSK-Client/obj/
app/src/main/cpp/rpcs3/3rdparty/wolfssl/wolfssl/wrapper/CSharp/wolfSSL-TLS-PSK-Server/obj/
app/src/main/cpp/rpcs3/3rdparty/wolfssl/wolfssl/wrapper/CSharp/wolfSSL-TLS-Server/obj/
app/src/main/cpp/rpcs3/3rdparty/wolfssl/wolfssl/wrapper/CSharp/wolfSSL-TLS-ServerThreaded/obj/
app/src/main/cpp/rpcs3/3rdparty/wolfssl/wolfssl/wrapper/CSharp/wolfSSL_CSharp/obj/
