<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

	<!--安卓高版本创建socket需要-->
	<uses-permission android:name="android.permission.INTERNET" />
    <!--uses-permission android:name="android.permission.POST_NOTIFICATIONS" /-->
	<!--uses-permission android:name="android.permission.FOREGROUND_SERVICE" /-->

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
	<!--uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" /-->
	<application android:label="@string/app_name"
		android:name="aenu.aps3e.Application"
		android:allowNativeHeapPointerTagging="false"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		android:icon="@drawable/app_icon"
		android:isGame="true">
			<activity android:name="aenu.aps3e.QuickStartActivity"
			android:exported="true"
				android:configChanges="layoutDirection|locale|orientation|uiMode|screenLayout|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
				android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
				<intent-filter>
					<action android:name="aenu.intent.action.REENTRY_QUISK_START" />
					<category android:name="android.intent.category.DEFAULT" />
				</intent-filter>
		</activity>
		<activity android:name="aenu.aps3e.MainActivity"
			android:launchMode="singleTask"
			android:configChanges="layoutDirection|locale|orientation|uiMode|screenLayout|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
			android:exported="false"
			android:label="@string/app_name">
		</activity>
		<!--service
			android:name="aenu.aps3e.PPUCacheBuildService"
			android:foregroundServiceType="specialUse"
			android:exported="false">
		</service-->

		<activity android:name="aenu.aps3e.AboutActivity"
			android:exported="false"
			android:label="@string/about">
		</activity>
		<activity android:name="aenu.aps3e.KeyMapActivity"
			android:exported="false"
			android:label="@string/key_mappers"/>
		<activity android:name="aenu.aps3e.UserDataActivity"
			android:exported="false"/>
		<activity android:name="aenu.aps3e.VirtualPadEdit"
			android:screenOrientation="sensorLandscape"
			android:configChanges="layoutDirection|locale|orientation|uiMode|screenLayout|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
			android:exported="false"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:launchMode="singleTask"/>
		<activity android:name="aenu.aps3e.EmulatorActivity"

			android:screenOrientation="sensorLandscape"
			android:launchMode="singleTask"
			android:configChanges="layoutDirection|locale|orientation|uiMode|screenLayout|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
			android:exported="true"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:process=":emu"
			>
			<intent-filter>
				<action android:name="aenu.intent.action.APS3E" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:name="aenu.aps3e.EmulatorSettings"
			android:exported="false"
			android:label="@string/settings"/>
		<provider
			android:name="aenu.aps3e.DocumentsProvider"
			android:authorities="${applicationId}.provider"
			android:exported="true"
			android:grantUriPermissions="true"
			android:permission="android.permission.MANAGE_DOCUMENTS">
			<intent-filter>
				<action android:name="android.content.action.DOCUMENTS_PROVIDER" />
			</intent-filter>
		</provider>
		<provider
			android:name="aenu.aps3e.InnerDocumentsProvider"
			android:authorities="${applicationId}.inner.provider"
			android:exported="true"
			android:grantUriPermissions="true"
			android:permission="android.permission.MANAGE_DOCUMENTS">
			<intent-filter>
				<action android:name="android.content.action.DOCUMENTS_PROVIDER" />
			</intent-filter>
		</provider>
	</application>
</manifest> 
